# Terraform directories
.terraform/
.terraform.lock.hcl

# Terraform state (if you don’t use remote backend)
*.tfstate
*.tfstate.backup

# Crash logs
crash.log


**/.terraform/**
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
