apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: akv-secrets
  namespace: starterkit
spec:
  provider: azure
  parameters:
    useWorkloadIdentity: "true"
    #clientID: "${client_id}"
    keyvaultName: "${keyvault_name}"
    tenantId: "${tenant_id}"
    objects: |
      array:
        - |
          objectName: app-config
          objectType: secret